* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  background: #0a0f1c;
  color: #e2e8f0;
}

/* LOGIN */
.login-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* LAYOUT */
.layout {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: #0b1220;
  padding: 1.5rem;
  border-right: 1px solid #334155;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.sidebar h2 {
  color: #38bdf8;
  margin-bottom: 1rem;
}

.sidebar button {
  background: transparent;
  border: 1px solid #334155;
  color: #e2e8f0;
  padding: 0.6rem;
  border-radius: 6px;
  cursor: pointer;
  text-align: left;
}

.sidebar button:hover {
  background: #38bdf8;
  color: #0a0f1c;
}

.sidebar .danger {
  background: #ef4444;
  border: none;
}

/* CONTEÚDO */
.content {
  flex: 1;
  padding: 2rem;
}

/* CARDS */
.card {
  background: #111827;
  padding: 1.5rem;
  border-radius: 12px;
  border: 1px solid #334155;
}

h1, h2 {
  color: #38bdf8;
  margin-bottom: 1rem;
}

/* INPUTS */
input {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 0.8rem;
  border-radius: 6px;
  border: 1px solid #334155;
  background: #0a0f1c;
  color: white;
}

/* BOTÃO */
button {
  padding: 0.7rem;
  border-radius: 6px;
  border: none;
  background: #38bdf8;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

/* LIVROS */
.livro {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #0a0f1c;
  border: 1px solid #334155;
  border-radius: 8px;
  margin-bottom: 0.7rem;
}

.livro strong {
  display: block;
}

.livro small {
  color: #94a3b8;
}

/* ERRO */
.erro {
  background: #7f1d1d;
  color: #fecaca;
  padding: 0.7rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

/* VAZIO */
.vazio {
  color: #64748b;
  text-align: center;
  padding: 1rem;
}
